---
source_file: "ui-ux-pro-max-skill/.claude/skills/design-system/scripts/html-token-validator.py"
type: "code"
community: "Ui Ux Pro Max Skill"
location: "62"
tags:
  - graphify/code
  - graphify/EXTRACTED
  - community/Ui_Ux_Pro_Max_Skill
---

# ValidationResult

#graphify/code #graphify/EXTRACTED #community/Ui_Ux_Pro_Max_Skill